.container {
  display: grid;
  grid-template-rows: [header] 10rem [main] 1fr;
  grid-template-columns: minmax(40rem, 1fr);
  grid-gap: $space-xl;
  justify-content: center;
  margin: 0 auto;
  padding: $space-lg;
  max-width: 100rem;
}

.header {
  grid-row: header;
  text-align: center;
}

.feed {
  grid-row: main;
  padding: $space-xl $space-lg;
  border-radius: 0.4rem;
  background-color: $color-contrast-dark;
}
