.container {
  display: grid;
  grid-template-rows: [header] 10rem [main] 1fr;
  grid-template-columns: minmax(40rem, 1fr);
  grid-gap: $space-sm;
  justify-content: center;
  margin: 0 auto;
  padding: $space-xl;
  max-width: 80rem;
}

.header {
  grid-row: header;
  text-align: center;
}

.feed {
  grid-row: main;
}
